@model PostVM
@{
    ViewData["Title"] = "PostOku";
    Layout = "~/Areas/Blog/Views/Shared/_Layout.cshtml";
}
<h1>PostOku</h1>

@{

    <div>@Model.Post.Title </div>

    <div>@Model.Post.Summary</div>
    <div>
        @Model.Post.Body
    </div>
    <div>
        @Model.Post.Id
    </div>
    <div>
        @Model.Post.DateCreated
    </div>
    <div>
        @Model.Post.DateModified
    </div>
    <div class="alert-secondary">
        <h3>
            @Model.Post.Yer.Level-@Model.Post.YerId)@Model.Post.Yer.Title (@Model.Post.Yer.YerChilds.Count tane altyer)(@Model.Post.Yer.Posts.Count tane post var)
        </h3>
        @foreach (var item in Model.Post.Yer.YerChilds)
        {
            <div class="alert-info border-bottom-dark">
                @item.Level-@item.Id @item.Title (@item.)
            </div>
        }

    </div>
}

