@model ListVM

@{
    ViewData["Title"] = "IndexPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IndexPost</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Level</th>
            <th>Parent</th>
            <th>Post Sayısı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Yers) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Level</td>
            <td>@item.ParentId</td>
            <td>item.Posts.Count</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details","DetailsYer","Details", new { Area = "Member" , id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
