@model VideoLog
@{
    ViewData["Title"] = "View";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<div>@Model.Id: @Model.Title</div>
<div>@Model.Id: @Model.Description</div>
<div>@Model.Id: @Model.CreateDT</div>
<div>@Model.Id: @Model.Logger</div>